version: '3.9'

services:
  auth_service:
    build: ./auth_service
    container_name: auth_service
    command: uvicorn main:app --host 0.0.0.0 --port 8001
    ports:
      - "8001:8001"
    networks:
      - backend

  user_service:
    build: ./user_service
    container_name: user_service
    command: uvicorn main:app --host 0.0.0.0 --port 8002
    ports:
      - "8002:8002"
    networks:
      - backend

  chat_service:
    build: ./chat_service
    container_name: chat_service
    command: uvicorn main:app --host 0.0.0.0 --port 8003
    ports:
      - "8003:8003"
    networks:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx_gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth_service
      - user_service
      - chat_service
    networks:
      - backend

  gateway:
    build: ./gateway
    ports:
      - "8000:8000"
    environment:
      - AUTH_SERVICE_URL=auth_service
      - USER_SERVICE_URL=user_service
      - CHAT_SERVICE_URL=chat_service
    networks:
      - backend 
    depends_on:
      - auth_service
      - chat_service
      - user_service


networks:
  backend: